datasets
pandas
catboost
scipy==1.12
transformers==4.42.2
pydantic==2.9.2
accelerate==1.1.1
torch==2.4.1
openai==1.55.0
langchain==0.3.7
langchain-openai==0.2.9
fire==0.7.0
sentence-transformers==3.3.1
langchain-community==0.3.7
sentencepiece==0.2.0
protobuf
setfit==1.1.0
unsloth==2024.10.7
trl==0.11.1
unsloth-zoo==2024.10.1